body {
  background: url("/images/background.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}
.main-inner > .sub-menu,
.main-inner > .post-block,
.main-inner > .tabs-comment,
.main-inner > .comments,
.main-inner > .pagination {
  background: rgba(255,255,255,0.4);
}
body {
  color: #000;
}
.posts-expand .post-title-link {
  color: #000;
}
.posts-expand .post-meta-container {
  color: #800;
}
.sidebar {
  opacity: 0.7;
}
.header-inner {
  background: rgba(255,255,255,0.7);
}
.popup {
  opacity: 0.5;
}
.main-inner {
  background-color: rgba(255,255,255,0);
  padding: 0px 40px 40px 40px;
}
