body {
  background: url("/images/backgroundtest.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}
.main-inner > .sub-menu,
.main-inner > .post-block,
.main-inner > .tabs-comment,
.main-inner > .comments,
.main-inner > .pagination {
  background: rgba(255,255,255,0.4);
}
body {
  color: #000;
  line-height: 2em;
  margin-top: 10px;
}
.posts-expand .post-title-link {
  color: #51346e;
}
.posts-expand .post-meta-container {
  color: #66418a;
}
.sidebar {
  opacity: 0.7;
}
.header-inner {
  background: rgba(255,255,255,0.75);
}
.popup {
  opacity: 0.67;
}
.main-inner {
  opacity: 0.75;
}
:root {
  --body-bg-color: rgba(255,255,255,0);
}
